@charset "UTF-8";
/* line 4, ../src/sass/pikabu.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../src/sass/pikabu.scss */
.m-pikabu-viewport {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  overflow: hidden;
  min-height: 100%;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

/* line 21, ../src/sass/pikabu.scss */
.m-pikabu-sidebar {
  position: absolute;
  overflow: visible;
  display: block;
  width: 80%;
  background: #222;
  color: white;
  padding: 20px;
}
/* line 33, ../src/sass/pikabu.scss */
.m-pikabu-sidebar.m-pikabu-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 37, ../src/sass/pikabu.scss */
.m-pikabu-sidebar.m-pikabu-right {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 43, ../src/sass/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-sidebar.m-pikabu-left, .m-pikabu-right-visible .m-pikabu-sidebar.m-pikabu-right {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 48, ../src/sass/pikabu.scss */
.m-pikabu-container {
  width: 100%;
  -webkit-backface-visibility: hidden;
}
/* line 53, ../src/sass/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-container.m-pikabu-left, .m-pikabu-right-visible .m-pikabu-container.m-pikabu-right {
  position: absolute;
}
/* line 57, ../src/sass/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-container {
  -webkit-transform: translate3d(80%, 0, 0);
  -moz-transform: translate3d(80%, 0, 0);
  -ms-transform: translate3d(80%, 0, 0);
  -o-transform: translate3d(80%, 0, 0);
  transform: translate3d(80%, 0, 0);
}
/* line 61, ../src/sass/pikabu.scss */
.m-pikabu-right-visible .m-pikabu-container {
  -webkit-transform: translate3d(-80%, 0, 0);
  -moz-transform: translate3d(-80%, 0, 0);
  -ms-transform: translate3d(-80%, 0, 0);
  -o-transform: translate3d(-80%, 0, 0);
  transform: translate3d(-80%, 0, 0);
}

/* line 67, ../src/sass/pikabu.scss */
.m-pikabu-container,
.m-pikabu-sidebar {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -webkit-transform 0.2s ease-in;
  -o-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
}

/* line 73, ../src/sass/pikabu.scss */
.m-pikabu-overlay {
  display: none;
}
/* line 77, ../src/sass/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-overlay, .m-pikabu-right-visible .m-pikabu-overlay {
  position: absolute;
  top: 0;
  z-index: 30;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* line 92, ../src/sass/pikabu.scss */
.m-pikabu-overflow-scrolling .m-pikabu-sidebar {
  overflow: auto;
}

/* line 96, ../src/sass/pikabu.scss */
.m-pikabu-overflow-touch {
  -webkit-overflow-scrolling: touch;
}
