@charset "UTF-8";
@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot");
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix") format("eot"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.woff") format("woff"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf") format("truetype"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo") format("svg");
}

/* line 49, ../src/sass/pikabu-theme.scss */
body {
  margin: 0;
  padding: 0;
  background: #fcfdf4;
  color: #6b645c;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 59, ../src/sass/pikabu-theme.scss */
header {
  overflow: hidden;
  background: #fee65e;
  border-bottom: solid 2px #ffaa42;
  text-align: center;
  text-shadow: 1px 1px 0 #fcfdf4;
}

/* line 69, ../src/sass/pikabu-theme.scss */
header h1 {
  display: inline-block;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
  color: #e64a33;
}
/* line 79, ../src/sass/pikabu-theme.scss */
header h1::before {
  content: "\26a1";
  margin-right: 15px;
  font-family: 'entypo', sans-serif;
}

/* line 86, ../src/sass/pikabu-theme.scss */
.m-pikabu-nav-toggle {
  position: relative;
  float: left;
  display: block;
  width: 50px;
  height: 30px;
  margin: 10px;
  background: #fdef6e;
  border: solid 1px rgba(230, 74, 51, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fcfdf4;
  -moz-box-shadow: inset 0 1px 0 #fcfdf4;
  box-shadow: inset 0 1px 0 #fcfdf4;
  text-indent: 100%;
  white-space: nowrap;
  color: #e64a33;
  line-height: 29px;
}
/* line 106, ../src/sass/pikabu-theme.scss */
.m-pikabu-nav-toggle[data-role="right"] {
  float: right;
}
/* line 110, ../src/sass/pikabu-theme.scss */
.m-pikabu-nav-toggle::after {
  content: '☰';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'entypo', sans-serif;
  text-align: center;
  text-indent: 0;
  font-size: 25px;
  font-weight: bold;
  color: inherit;
}
/* line 128, ../src/sass/pikabu-theme.scss */
.m-pikabu-nav-toggle[data-role="right"]::after {
  content: "\e705";
  font-size: 17px;
}
/* line 134, ../src/sass/pikabu-theme.scss */
.m-pikabu-left-visible .m-pikabu-nav-toggle[data-role="left"], .m-pikabu-right-visible .m-pikabu-nav-toggle[data-role="right"] {
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 140, ../src/sass/pikabu-theme.scss */
section {
  padding: 20px;
}

/* line 144, ../src/sass/pikabu-theme.scss */
.m-pikabu-sidebar {
  padding: 10px;
  background: #6b645c;
  color: white;
}

/* line 150, ../src/sass/pikabu-theme.scss */
section h2 {
  display: block;
  margin: 0;
  color: #e64a33;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

/* line 161, ../src/sass/pikabu-theme.scss */
section h3 {
  display: block;
  margin: 20px -20px 10px;
  padding: 5px 20px 7px;
  background: #e64a33;
  border-bottom: solid 2px #e6e6dd;
  color: #fcfdf4;
  font-size: 18px;
  font-weight: normal;
}

/* line 174, ../src/sass/pikabu-theme.scss */
section p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.4;
}

/* line 181, ../src/sass/pikabu-theme.scss */
section p em {
  color: #e64a33;
  font-style: normal;
}

/* line 186, ../src/sass/pikabu-theme.scss */
section a {
  color: #e64a33;
}
/* line 188, ../src/sass/pikabu-theme.scss */
section a:hover {
  color: black;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

/* line 194, ../src/sass/pikabu-theme.scss */
section ul {
  margin: 15px 0;
}
