<div class="nav-modules">
    <ul>
        <li>
            <a href="{{ site.baseurl }}carousel">Carousel</a>
            <ul>
                <li><a href="{{ site.baseurl }}carousel-examples/">Examples</a></li>
                <!-- Temporarily commented out
                <li><a href="{{ site.baseurl }}carousel/#usage">Usage</a></li>
                <li><a href="{{ site.baseurl }}carousel/#classes">Classes</a></li>
                <li><a href="{{ site.baseurl }}carousel/#methods">Methods</a></li>
                <li><a href="{{ site.baseurl }}carousel/#events">Events</a></li>
                <li><a href="{{ site.baseurl }}carousel/#browser-compatibility">Browser Compatibility</a></li>
                -->
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}accordion">Accordion</a>
            <ul>
                <li><a href="{{ site.baseurl }}accordion-examples/">Examples</a></li>
                <!-- Temporarily commented out
                <li><a href="{{ site.baseurl }}accordion/#usage">Usage</a></li>
                <li><a href="{{ site.baseurl }}accordion/#markup">Markup</a></li>
                <li><a href="{{ site.baseurl }}accordion/#methods">Methods</a></li>
                <li><a href="{{ site.baseurl }}accordion/#browser-compatibility">Browser Compatibility</a></li>
                -->
            </ul>
        </li>
        <!--

        <li>
            <a href="{{ site.baseurl }}/modules/zoomable">Zoomable</a>
            <ul class="hide-inactive">
                <li><a href="{{ site.baseurl }}/modules/zoomable/#usage">Usage</a></li>
                <li><a href="{{ site.baseurl }}/modules/zoomable-examples/">Examples</a></li>
                <li><a href="{{ site.baseurl }}/modules/zoomable/#methods">Methods</a></li>
                <li><a href="{{ site.baseurl }}/modules/zoomable/#configuration">Configuration</a></li>
                <li><a href="{{ site.baseurl }}/modules/zoomable/#classes">Classes</a></li>
                <li><a href="{{ site.baseurl }}/modules/zoomable/#default-styles">Default Styles</a></li>
                <li><a href="{{ site.baseurl }}/modules/zoomable/#events">Events</a></li>
            </ul>
        </li>

        -->
    </ul>
</div>
