<!DOCTYPE html>
<html>
<head>
    <!--

                     |    _)  _|      
     __ `__ \   _ \  __ \  | |   |   |
     |   |   | (   | |   | | __| |   |
    _|  _|  _|\___/ _.__/ _|_|  \__, |
                                ____/

    www.mobify.com, coded in Vancouver, Canada. https://www.mobify.com/about/jobs/ 
    
    
    This is the former landing page of our modules. Since then, they have been moved
    to mobify.github.io, but since these were hosted by Github Pages, we have to keep
    these pages up in order to do client-side redirects.
    -->
    <meta charset="utf-8" />
    <meta name="author" content="Mobify">
    <meta name="description" content="Mobify Modules. Mobile first, built for any browser.">
    <meta name="keywords" content="mobify,mobile,modules,ui">
    <title>Mobify Modules</title>


    {{ content }}
    <body>
    </body>
</body>
</html>
